.card_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 16px 8px;
}
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}